@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project

<form method="post">
    <input asp-for="ProjectId" value="@Model.ProjectId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class=" text-primary">Create Project</h2>
        </div>
        <div class="mb-3 row pt-1">
            <label asp-for="ProjectName" class="text-black p-0">Name</label>
            <input asp-for="ProjectName" class=" form-control" />
            <span asp-validation-for="ProjectName" class="text-danger"></span>

        </div>
        <div class="mb-3 row pt-1">
            <label asp-for="ProjectDescription" class="text-black p-0">Description</label>
            <input asp-for="ProjectDescription" class=" form-control" />
            <span asp-validation-for="ProjectDescription" class="text-danger"></span>

        </div>
        <div class="row justify-content-center">
            <div class="col-6 col-md-3 align-content-center">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6  col-md-3 ">
                <a asp-controller="Projects" asp-action="Index" class="border btn btn-outline-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}